<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container">
    <a routerLink="/" class="navbar-brand" routerLinkActive="active" >Kora Tracker CMS</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ng-container>
          <li class="nav-item">
            <a routerLink = "employee/view-employee" class="nav-link">
            Employees
            </a>
          </li>
          <li class="nav-item">
            <a routerLink = "projects/view-projects" class="nav-link">
            Projects
            </a>
          </li>
          <li class="nav-item">
            <a routerLink = "reports/timesheets" class="nav-link">
            Timesheets
            </a>
          </li>
         </ng-container>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>